<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Maem.Kuy</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav id="drawer" class="navigation">
        <h1 class="nav__logo">Maem.Kuy</h1>

        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#">Favorite</a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              href="https://linkedin.com/in/athallahmzaidan"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>

      <section class="hero">
        <h1 class="hero__title">Laper? Cari katalog restomu di Maem.Kuy!</h1>
      </section>
    </header>
    <main id="maincontent">
      <section class="content">
        <div class="katalog">
          <h1 class="katalog__label">Katalog Restoran</h1>
          <div class="katalog__resto"></div>
        </div>
      </section>
    </main>
    <footer>Copyright &copy Maem.Kuy 2022</footer>
  </body>
</html>
