<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#d9534f" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Maem.Kuy</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav id="drawer" class="navigation">
        <h1 class="nav__logo">Maem.Kuy</h1>

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#/">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#/favorite">Favorite</a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              href="https://linkedin.com/in/athallahmzaidan"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
        <button class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </nav>
    </header>
    <main id="maincontent"></main>
    <footer>Copyright &copy Maem.Kuy 2022</footer>
  </body>
</html>
