* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #96ceb4;
  color: #d9534f;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #d9534f;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* navigation */

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffad60;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d9534f;
}

.nav__list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__item {
  margin: 0 30px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #d9534f;
  font-weight: bolder;
  padding: 1.3em;
}

/* jumbotron */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/images/heros/hero-image_4.jpg");
  background-position: center;
  font-weight: bold;
}

.hero__title {
  color: #d9534f;
  font-weight: 500;
  font-size: 36px;
  margin: 0 auto;
}

/* content  */

main {
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

.content {
  padding: 32px;
}

.katalog {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.katalog__label {
  font-size: 32px;
  text-align: center;
}

.katalog__label::after {
  content: "";
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.katalog__resto {
  margin: 32px auto auto;
  text-align: left;
}

.katalog__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffad60;
  color: black;
}

.katalog__rating {
  margin-left: 32px;
}

.katalog__content {
  padding: 16px 32px 32px 32px;
}

.katalog__image {
  width: 100%;
  height: 250px;
}

.katalog__title {
  font-size: 24px;
  margin-top: 16px;
  transition: 0.3s opacity;
  padding-left: 32px;
}

.katalog__title a {
  text-decoration: none;
  color: #d9534f;
  padding: 10px 0;
}

.katalog__title:hover {
  text-decoration: underline;
}

.katalog__description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5em;
}

/* detail content */
.resto {
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffad60;
  padding: 20px;
}

.katalog-detail__poster {
  width: 50%;
  height: 450px;
  display: block;
  margin: 10px auto;
}

.katalog-detail__title {
  font-size: 36px;
  text-align: center;
}

.katalog-detail__info {
  padding: 20px;
}

.katalog-detail__info h3 {
  font-size: 24px;
}

.katalog-detail__info h4 {
  font-size: 20px;
  margin: 10px 0;
}

.katalog-detail__info p {
  color: black;
  font-size: 18px;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9534f;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* footer */

footer {
  background-color: #ffad60;
  padding: 2em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 500px;
}

@media screen and (max-width: 768px) {
  .nav__list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #ffad60;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav__list.active {
    left: 0;
  }

  .nav__item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (min-width: 375px) {
  .katalog__resto {
    display: grid;
    row-gap: 12px;
  }

  .katalog-detail__poster {
    width: 70%;
    height: 50%;
  }
}

@media screen and (min-width: 455px) {
  .katalog__resto {
    display: grid;
    row-gap: 12px;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../public/images/heros/hero-image_4-small.jpg");
  }
}

@media screen and (min-width: 700px) {
  .katalog__resto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 10px;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../public/images/heros/hero-image_4-large.jpg");
  }
}

@media screen and (min-width: 900px) {
  .katalog__resto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
